* {
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon", sans-serif;
    font-weight: 400;
    color: #ffff;
    box-sizing: border-box;
}

body {
    background-color: #232528;
}

.master-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
}

.converter-title {
    font-size: 27px;
    margin-bottom: 20px;
}

.temperature-converter {
    background-color: #009FFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    border-radius: 15px;
    margin: 10px;
    transition: .5s;
}

.temperature-scale-select {
    display: grid;
    align-items: center;
    color: #000;
    width: 320px;
    height: 47px;
    border: none;
    outline: transparent;
    border-radius: 8px;
    padding-left: 20px;
    appearance: none;
    font-size: 15px;
    background-image: url(assets/img/caret-down.svg);   
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 14px;
    cursor: pointer;
}

option {
    color: #000;
    width: 320px;
    height: 40px;
    font-size: 15px;
}

option::marker {
    background-color: rebeccapurple;
}

.temperature-input {
    color: #000;
    width: 320px;
    height: 55px;
    border: none;
    outline: transparent;
    border-radius: 10px;
    padding-left: 20px;
    margin: 10px;
    font-size: 15px;
}

.temperature-input::placeholder {
    color: #000;
}
.temperature-input::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.convert-button {
    background-color: #ffa400;
    padding: 10px 36%;
    border: none;
    border-radius: 20px;
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.convert-button:hover {
    scale: 99.5%;
    transition: .1s;
    box-shadow: 0px 0px 10px 5px #00000028;
}

.hidden {
    display: none;
}

.result-title {
    text-align: center;
    font-size: 27px;
    margin: 15px 0px 5px 0px;
}

.temperature-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    color: #000;
    width: 315px;
    height: 40px;
    margin: 9px;
    border-radius: 10px;
    font-size: 10px;
    padding: 0px 20px 0px 20px;
}

.result-scale {
    color: #000;

}

.result-value {
    color: #009FFD;
    font-size: 15px;
}